body{
	font-family: arial;
	font-size: 14px;
}

#canvas{
	width:960 px;
	margin:0 auto;
	border:1px solid silver;
}
#header{
	font-size:20px;
	padding:20px;
}

#menu{
	background-color: #7CFC00;
}
#menu ul{
	list-style:none;
	margin:0;
	padding: 0;
}
#menu ul li.utama{
	display:inline-table;
}
#menu ul li:hover{
	background-color:#00FF00;
}
#menu ul li a{
	display:block;
	text-decoration: none;
	line-height:40px;
	padding:0 10px;
	color:white;
}
.utama ul{
	display:none;
	position:absolute;
	z-index:2;
}
.utama:hover ul{
	display:block;
}
.utama ul li{
	display:block;
	background-color:#7CFC00;
	width:140px;
}
.right{
	float: right;
}

#isi{
	min-height: 400px;
	padding: 20px;
	background-image: ("img/bg-isi.jpg");
	background-attachment: fixed;
}

#footer{
	font-family: franklin gothic medium, segoe ui;
	text-align: center;
	padding: 20px;
	background-color: #ccc;